*{
    margin: 0;
    padding: 0;
}

/* for Nav background and Offcanvas */
.fixed-top{
    position: absolute;
    top: 0;
}
/* nav bar bgcolor */
.navbar{
    background-color: rgba(36, 39, 68, 0.51);
 }

/* -- For Navigation Link text and hover active -- */
.nav-link:link,
.nav-link:visited{
    color: #ffffff;
    font-size: 1.5rem;
    padding-top:4px ;
    padding-bottom: 4px;
}

.nav-link:hover{
    background-color: rgba(94, 158, 255, 0.51);
    color: #fff;
    border-radius: 5px;
}
.activelink{
    color: #fff;
    border-bottom: 3px solid #fff;
    border-radius: 0;
}

/*--* nav bar toggler *--*/

.navbar-toggler{
    color: transparent;
    background-color: rgba(193, 198, 236, 0.3);
}

.navbar-toggler:active{
    background-color: rgba(193, 198, 236, 0.7);
}

.btn-close{
    color: transparent;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-close:active{
    background-color: rgba(255, 255, 255, 0.4);
}
/*--* Offcanvas navbar appear *--*/
@media (max-width:767px){
    .navbar {
      padding-top: 4px;
      padding-bottom: 4px;
    }

    .offcanvas-title{
        background: linear-gradient(90deg, #67EDFF 0%, #FF00B8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .offcanvas{
        background-color: rgba(36, 39, 68, 0.71);
        backdrop-filter: blur(6px);
    }

    .nav-link{
    text-align: center;
}
.navbar-nav{
    min-height: 65vh;
    align-items: stretch;
}

  }